.budget-title {
    padding: 0 1em 0 1em;
    margin: 0;
}

.budget-container {
    width: 10em;
}

.budget-amounts-display {
    display: inline-grid;
    text-align: left !important;
    grid-template-columns: auto auto auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.budget-amount {
    padding: 1em 1em 0 1.5em;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
}

.budget-balance {
    padding: 1em 1em 0 1.5em;
    text-align: right;
    font-size: medium;
    font-weight: bold;
    font-family: sans-serif;
}

.budget {
    width: 100%;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    height: max-content;
}

#budget_grid_container {
    width: 100%;
    text-align: center;
}

.budget-grid {
    place-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));;
    grid-template-rows: repeat(3, 25em);
    grid-gap: 1em;
    padding: 1em;
}

ul.MuiList-root {
    max-width: 100%;
    border-color: lightgray;
    border-bottom-style: hidden;
    border-top-width: thin;
    padding-bottom: 0;
}