.header {
    background-image: url("/public/images/budgit_logo.png");
    background-repeat: no-repeat, repeat;
    background-color: white;
    height: 90px;
}
.logo a img{
    height: 90px;
    width: 90px;
}